## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Visual Studio
.vs/
*.dbmdl
*.jfm

## Rider
.idea/

## OS
.DS_Store
Thumbs.db
desktop.ini

## Build
*.log
[Dd]ebug/
[Rr]elease/
